@use '../abstracts/variables';

.ensavoirplus {
	--bg-width: 414px;
	--bg-height: 395px;

	background: var(--dark) url('/src/images/texture-temoignages.png') center
		center repeat;
	color: var(--light);
	padding-block: var(--space-3xl);
	background-size: calc(var(--bg-width) * 0.75) calc(var(--bg-height) * 0.75);
	background-attachment: fixed;
	text-align: center;

	@media (--lg-n-above) {
		background-size: var(--bg-width) var(--bg-height);
	}

	&__title {
		font-size: var(--fs-2xl);
		font-weight: var(--txt-black);
		font-family: var(--font-hobeaux);
		color: var(--sable);
		line-height: 1.13;
	}

	p {
		margin-block: var(--space-xs);

		@media (--lg-n-above) {
			margin-bottom: var(--space-m);
		}
	}
}
