@use '../abstracts/variables';

.page-appel-decouverte {
	.hero {
		padding-bottom: var(--space-3xl);

		.container {
			@media (--lg-n-above) {
				width: 75%;
			}
		}

		&__title {
			margin-bottom: var(--space-m);
		}

		&__content {
			margin-bottom: var(--space-l);

			@media (--lg-n-above) {
				margin-bottom: 0;
				width: 66%;
			}

			p {
				margin-bottom: var(--space-xs);

				@media (--lg-n-above) {
					margin-bottom: var(--space-s);
				}

				&:first-child {
					font-weight: var(--txt-bold);
				}
			}

			a {
				text-decoration: underline;

				&:hover {
					color: var(--sable);
				}
			}
		}

		.biberon {
			@media (--lg-n-above) {
				position: absolute;
				right: 0;
				top: 30%;
				width: 30%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					transform: translateX(20%);
				}
			}
		}
	}

	.contact {
		padding-bottom: var(--space-3xl);

		.container {
			text-align: center;
		}

		.page-title {
			color: var(--sable);
			margin-bottom: var(--space-xs);
		}
	}
}
