@use '../abstracts/variables';

.page-home {
	.hero {
		position: relative;
		padding-bottom: var(--space-3xl);

		&__title {
			position: relative;
			font-family: var(--font-hobeaux);
			font-size: var(--fs-4xl);
			font-weight: var(--txt-black);
			margin-bottom: var(--space-s);
			line-height: 1.13;

			@media (--xl-n-above) {
				width: 75%;
			}

			.img-container {
				display: none;

				@media (--lg-n-above) {
					display: block;
					position: absolute;
					width: 22vw;
					top: 95%;
					left: 8%;
				}
			}
		}

		&__intro {
			@media (--lg-n-above) {
				width: calc(3 / 8 * 100%);
				margin-left: auto;
				margin-top: var(--space-xl);
			}

			p {
				margin-bottom: var(--space-xs);

				@media (--md-n-above) {
					margin-bottom: var(--space-m);
				}
			}
		}
	}

	.social {
		@media (--lg-n-above) {
			position: absolute;
			left: var(--space-l);
			bottom: var(--space-m);

			ul {
				display: flex;
				gap: var(--space-xs);
				align-items: center;

				svg {
					path {
						transition: fill 0.25s ease;
					}

					&:hover {
						path {
							fill: var(--sable);
						}
					}
				}
			}
		}
	}

	.thumbnail {
		padding-bottom: var(--space-3xl);
		padding-left: var(--space-s);

		.img-container {
			position: relative;
			height: 0;
			width: 100%;
			padding-bottom: 70%;
			overflow: hidden;
			border-top-left-radius: var(--rounded);
			border-bottom-left-radius: var(--rounded);

			@media (--lg-n-above) {
				border-top-left-radius: var(--rounded-full);
				border-bottom-left-radius: var(--rounded-full);
				padding-bottom: 40%;
				width: calc(7 / 8 * 100%);
				margin-left: auto;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.presentation {
		&__accroche {
			color: var(--sable);
			font-size: var(--fs-highlight);
			line-height: 1.13;
			font-weight: var(--txt-semibold);
			margin-bottom: var(--space-3xl);

			@media (--md-n-above) {
				margin-bottom: var(--space-l);
			}
		}
		&__content {
			@media (--lg-n-above) {
				width: 50%;
				margin-left: auto;
			}

			p:not(:last-child) {
				margin-bottom: var(--space-xs);

				@media (--md-n-above) {
					margin-bottom: var(--space-m);
				}
			}

			a.btn-primary {
				margin-bottom: 0.5rem;

				@media (--md-n-above) {
					margin-right: var(--space-xs);
					margin-bottom: 0;
				}
			}
		}
	}

	.categories {
		padding-block: var(--space-3xl);

		&__title {
			font-size: var(--fs-2xl);
			font-family: var(--font-hobeaux);
			font-weight: var(--text-black);
			margin-bottom: var(--space-s);
			line-height: 1.13;
		}

		.list {
			@media (--md-n-above) {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: var(--space-s);
			}
			@media (--lg-n-above) {
				grid-template-columns: repeat(3, 1fr);
				gap: var(--space-m);
			}
		}

		.item {
			a {
				@media (--lg-n-above) {
					&:hover {
						img {
							transform: scale(1.1);
						}

						.item-title::after {
							transform: translate(3px, 3px);
						}
					}
				}
			}
			&-title {
				position: relative;
				font-weight: var(--txt-black);
				font-size: var(--fs-xl);
				font-family: var(--font-hobeaux);
				margin-bottom: var(--space-m);
				line-height: 1.13;
				display: flex;
				justify-content: space-between;
				align-items: center;

				&::after {
					content: '';
					display: inline-block;
					width: 14px;
					height: 14px;
					transition: transform 0.35s ease;
					background: url('/src/images/icon-arrow-link-dark.svg')
						center center no-repeat;
					background-size: contain;

					@media (--lg-n-above) {
						width: 22px;
						height: 22px;
					}
				}
			}
			.img-container {
				position: relative;
				width: 100%;
				height: 0;
				padding-bottom: 75%;
				overflow: hidden;
				border-radius: var(--rounded);
				margin-bottom: 0.5rem;

				@media (--lg-n-above) {
					margin-bottom: var(--space-xs);
					padding-bottom: 113%;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 5s ease-out;
				}
			}
		}
	}
}
