{% extends 'base.twig' %}

{% block body %}
	<div class="page-index">
		<section class="hero">
			<div class="container">
				<div class="left">
                    <h1 class="hero__title page-title">
                        <p class="text-reveal" translate>{{ post.title }}</p>
                    </h1>
                    
                </div>                
			</div>
		</section>

		<section class="main-content">
			<div class="container">
				<div class="hero__content">
					{{post.content}}
				</div>
			</div>
		</section>
	</div>

{% endblock %}
