{% extends 'base.twig' %}

{% block body %}
	<div class="page-mes-consultations">

		<section class="hero">
			<div class="container">
				<h1 class="hero__title page-title">
					<p class="text-reveal" translate>{{ post.title }}</p>
				</h1>
                <div class="hero__intro">
					<div class="text-reveal">
						{{ post.content }}
					</div>
				</div>
			</div>
		</section>

        <section class="categories">
            <div class="container">
                {% if services %}
					<ul class="list">
						{% include 'components/_services-list.twig' %}
					</ul>
				{% endif %}
            </div>
        </section>

    </div>
{% endblock %}
